project/airflow/dags/__pycache__/transaction_etl_process.cpython-38.pyc
project/airflow/logs/dag_processor_manager/dag_processor_manager.log
project/airflow/logs/scheduler/latest
project/airflow/logs/scheduler/2024-08-26/transaction_etl_process.py.log
